/* Font general */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Font for the number in the page */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFEFF;
    color: #32297C;
}

p {
    font-weight: 500;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    position: absolute;
    width: 97vw;
    height: 96vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}

.navbar {
    position: fixed;
    color: white;
    width: 100px;
    height: 100%;
    border-radius: 25px;
    text-align: center;
}


.navbar_1 {
    background-color: #312A7E;
    border-radius: 25px 25px 25px 0;
    height: 35vh;
}

.navbar_1 .link1 {
    margin-top: 135px;
}

.logo {
    padding-top: 30px;
}

.logo h3 span {
    font-weight: 300;
}

.navbar_2 {
    background-color: #312A7E;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.navbar_2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6vh;
    margin-left: 30px;
    border-radius: 25px 0 0 25px;
    background-color: white;
    z-index: 0;
}

.navbar_2 .link2 i {
    position: relative;
    color: #312A7E;
    z-index: 10;
}

.navbar_3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55vh;
    background-color: #312A7E;
    border-radius: 0 25px 25px 25px;
}

.navbar_3 li {
    padding: 17px 0;
}

.navbar_link2 {
    text-align: center;
}

.navbar_link2 a {
    position: absolute;
    bottom: 20px;
    color: white;
    left: 45px;
}



.content {
    position: relative;
    left: 100px;
    padding: 5px 30px;
    width: 60%;
    height: 100%;
}

.banner {
    background-color: #FF9F03;
    color: white;
    border-radius: 25px;
    padding: 20px 30px;
}

.banner h1 {
    font-weight: 400;
}

.banner p {
    font-weight: 200;
}

.calendar_head {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.calendar_head .date span {
    background-color: #F8525E;
    color: white;
    border-radius: 25px;
    padding: 3px 12px;
    margin-left: 20px;
}

.calendar_head .date span .fa-chevron-left {
    opacity: .7;
}

.month {
    background-color: #F8F6FF;
    color: #312a7ea4;
    padding: 7px;
    border-radius: 10px;
    margin-top: -7px;
}


.calendar_date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 20px;
    height: 100px;
    border-top: 1px solid #312a7e0c;
    border-bottom: 1px solid #312a7e0c;
}

.calendar_date .day {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar_date .day h4 {
    font-weight: 600;
    font-size: 13px;
}

.calendar_date .day p {
    margin-top: 10px;
    font-weight: 200;
    color: #312a7ebb;
}

.calendar_date .day .dot_orange {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #FF9F03;
}

.calendar_date .day .dot_green {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #8DDFED;
}

.calendar_date .day .dot_red {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #F3586A;
}

.calendar_date .day .dot_white {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
}


.calendar_date .day_index {
    background-color: #F3586A;
    color: white;
    padding: 12px 13px;
    border-radius: 12px;
    box-shadow: 0 5px 15px -5px #F3586A;
}

.calendar_date .day_index p {
    color: white;
}


.report {
    margin-top: 20px;
}

.report_head .title h3 {
    font-weight: 500;
}

.report_head {
    display: flex;
    justify-content: space-between;
}

.report_head ul li {
    display: inline;
    padding: 0 10px;
}

.report_head ul li.active {
    font-weight: 700;
}

.report_card {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}


.report_card .card_active {
    text-align: center;
    border-radius: 25px;
    padding: 12px 5px;
    width: 150px;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.144);
}

.report_card .card_active i {
    border: 1px solid #FF9F03;
    padding: 12px;
    border-radius: 15px;
    background-color: #FF9F03;
    color: white;
}

.report_card .card_active p {
    font-weight: 300;
    margin-top: 10px;
}

.report_card .card_active .btn_index {
    background-color: #FF9F03;
    color: white;
    margin-top: 10px;
    padding: 15px 30px;
    border-radius: 20px;
}

.report_card .card_active button {
    border: none;
    background-color: transparent;
    font-size: 26px;
    color: #312A7E;
    font-family: 'Red Hat Display', sans-serif;
}


.report_card .card {
    border: 1px solid #312a7e1c;
    text-align: center;
    border-radius: 25px;
    padding: 15px 20px;
    height: 140px;
}

.report_card .card i {
    border: 1px solid red;
    padding: 12px;
    border-radius: 15px;
}

.report_card .card p {
    font-weight: 300;
    margin-top: 10px;
}

.report_card .card .btn_index {
    background-color: #FF9F03;
    color: white;
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 25px;
}

.report_card .card .fa-server {
    border: 1px solid #FF9F03;
    background-color: #FF9F03;
    color: white;
}

.report_card .card .fa-music {
    border: 1px solid #F05867;
    color: #F05867;
}

.report_card .card .fa-trash-alt {
    border: 1px solid #88DEEC;
    color: #88DEEC;
}

.report_card .card .fa-instagram {
    border: 1px solid #312A7E;
    color: #312A7E;
}

.report_card .card button {
    border: none;
    background-color: transparent;
    font-size: 26px;
    color: #312A7E;
    font-family: 'Red Hat Display', sans-serif;
}




.update {
    margin-top: 20px;
}

.update .title h3 {
    font-weight: 500;
}

.update_info {
    display: flex;
    justify-content: space-between;
}

.update_info .update_systeme {
    display: flex;
    justify-content: space-between;
    width: 45%;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px -10px #312a7e94;
}

.update_info .update_application {
    display: flex;
    justify-content: space-between;
    width: 45%;
    background-color: #312A7E;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.update_info .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
    font-size: 14px;
}

.update_info .text_1 {
    border-right: 1px solid #312a7e28;
}

.update_info .text_1 p {
    color: #312a7ea6;
    font-size: 10px;
    font-weight: 200;
}

.update_info .text_2 {
    border-right: 1px solid #c4c2e43b;
}

.update_info .text_2 p {
    font-weight: 200;
    font-size: 10px;
}

.update_info .stat {
    display: flex;
    align-items: center;
    padding: 13px 10px;
    border-radius: 50%;
}

.update_info .stat_1 {
    border: 4px solid #312a7e23;
    border-top: 4px solid #F05867;
    transform: rotate(45deg);
}

.update_info .stat_1 span {
    transform: rotate(-45deg);
}

.update_info .stat_2 {
    border: 4px solid #bebbdf23;
    border-top: 4px solid #FF9F03;
    border-right: 4px solid #FF9F03;
    transform: rotate(-45deg);
}

.update_info .stat_2 span {
    transform: rotate(45deg);
}



.widget {
    position: fixed;
    width: 32%;
    height: 100%;
    right: 0;
    top: 0;
}

.widget_heading {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px 30px;
}

.widget_heading i {
    padding: 0 10px;
    font-size: 18px;
}

.widget_heading .fa-bell {
    position: relative;
}

.widget_heading .fa-bell::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #F3586A;
    right: 10px;
}

.widget .widget_heading img {
    width: 40px;
    border-radius: 5px;
    margin-left: 10px;
}


.widget_box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 85vh;
    background-color: #F5F7FB;
    border-radius: 25px 0 0 0;
    padding: 25px 0 0 35px;
}

.widget_box .title h3 {
    font-weight: 500;
}

.func_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.widget_box .func {
    background-color: white;
    padding: 5px;
    width: 45%;
    margin: 7px;
    border-radius: 20px;
}

.widget_box .func .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px 5px;
    color: white;
}

.widget_box .func_red .head {
    background-color: #F3586A;
}

.widget_box .func .head .fa-chart-bar {
    background-color: rgba(255, 255, 255, 0.35);
    padding: 6px;
    border-radius: 7px;
}

.widget_box .func_orange .head {
    background-color: #FFA001;
}

.widget_box .func .head .fa-podcast {
    background-color: rgba(255, 255, 255, 0.35);
    padding: 6px;
    border-radius: 7px;
}

.widget_box .func_green .head {
    background-color: #89DFED;
}

.widget_box .func .head .fa-check-circle {
    background-color: rgba(255, 255, 255, 0.35);
    padding: 6px;
    border-radius: 7px;
}

.widget_box .func_gray {
    border: 2px solid #E9E7F5;
}

.widget_box .func_gray .head {
    background-color: #E9E7F5;
}

.widget_box .func .head .fa-retweet {
    background-color: rgb(255, 255, 255);
    color: #E9E7F5;
    padding: 6px;
    border-radius: 7px;
}

.widget_box .func .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 5px 5px;
}

.widget_box .func .text .toggle-container {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 10px;
    pointer-events: none;
  }

  .widget_box .func .text .toggle-container input {
    opacity: 0;
    width: 20px;
    height: 10px;
    pointer-events: all;
  }
  
.widget_box .func .text .toggle-container .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #f3586a4f;
    border-radius: 50px;
    pointer-events: none;
  }
  
.widget_box .func .text .toggle-container .slider::before {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    left: 8px;
    bottom: -2px;
    border-radius: 50%;
    background-color: #F3586A;
    transition: 0.2s;
    pointer-events: none;
}
  


.stat_clean {
    background-color: white;
    width: 100%;
    margin-top: 15px;
    padding: 20px 10px;
    border-radius: 15px;
}

.stat_clean .head {
    display: flex;
    justify-content: space-between;
}

.stat_clean .head p {
    font-size: 14px;
    font-weight: 300;
}

.stat_clean .head p span {
    font-weight: 600;
}

.stat_clean .head .toggle {
    display: flex;
    align-items: center;
    border: 1px solid #312a7e3d;
    border-radius: 5px;
    height: 30px;
}

.stat_clean .head .toggle i {
    background-color: #FFA001;
    padding: 5px;
    border-radius: 5px;
    margin: 3px;
}


.stat_clean .stat_clean__chart {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 10px 50px;
}

.stat_clean .stat_clean__chart .chart {
    width: 3px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #312a7e38;
}

.stat_clean .stat_clean__chart .chart span {
    margin-top: 120px;
    font-size: 10px;
}

.stat_clean .stat_clean__chart .chart .chart_1 {
    position: absolute;
    bottom: 34px;
    width: 3px;
    height: 85px;
    background-color: #8DDFED;
}

.stat_clean .stat_clean__chart .chart .chart_2 {
    position: absolute;
    bottom: 34px;
    width: 3px;
    height: 55px;
    background-color: #8DDFED;
}

.stat_clean .stat_clean__chart .chart .chart_3 {
    position: absolute;
    bottom: 34px;
    width: 3px;
    height: 35px;
    background-color: #8DDFED;
}

.stat_clean .stat_clean__chart .chart .chart_4 {
    position: absolute;
    bottom: 34px;
    width: 3px;
    height: 100px;
    background-color: #FF9F03;
}

.stat_clean .stat_clean__chart .chart .chart_5 {
    position: absolute;
    bottom: 34px;
    width: 3px;
    height: 65px;
    background-color: #8DDFED;
}

.stat_clean .stat_clean__chart .chart .chart_6 {
    position: absolute;
    bottom: 34px;
    width: 3px;
    height: 95px;
    background-color: #8DDFED;
}

.stat_clean .stat_clean__chart .chart .chart_7 {
    position: absolute;
    bottom: 34px;
    width: 3px;
    height: 25px;
    background-color: #8DDFED;
}